@import 'tailwindcss';

body {
    font-family: "Mulish", sans-serif;
}

.background-big-letter {
    position: absolute;
    transform: translate(5rem, 2rem);
    z-index: -1;
    font-size: 16rem;
    line-height: 0;
    font-weight: 900;
    color: #f2f2f2;
}

h2 {
    color: #ef4823;
    font-size: 3.4rem;
    margin-bottom: 5rem;
    font-family: "DM Serif Display", serif;
    line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@plugin '@tailwindcss/typography';

@theme {
    --color-primary: #ef4823;
    --color-primary-lighter: #f26040;
    --color-primary-darker: #d43d1a;
    --color-primary-hover: #d43d1a;

    --color-dark: #212529;
    --color-dark-hover: #343a40;
    --color-light: #f4f7fb;
    --color-light-hover: #dae4f1;
    --color-beige: #F5F5DC;
    --color-icon-light: #6a7282;

    --color-editor-motorway: #CF2081;
    --color-editor-trunk: #8cd05f;
    --color-editor-primary: #F99806;
    --color-editor-tertiary: #ffff7e;
    --color-editor-secondary: rgb(243, 243, 18);
    --color-editor-secondary-stroke: #70372f;
    --color-editor-unclassified: rgb(221, 204, 170);
    --color-editor-construction: "#FFFF00";

    --radius-map: 0.25rem;
    --shadow-map: 0 15px 15px rgba(0, 0, 0, 0.25);
    --spacing-map-margin: 1rem;
    --spacing-map-toolbox-margin: 22rem;

    --map-z: 50;

    --cursor-select-acting: url('/img/cursors/cursor-select-acting.png'), auto;
    --cursor-select-line: url('/img/cursors/cursor-select-line.png'), auto;
    --cursor-select-vertex: url('/img/cursors/cursor-select-vertex.png'), auto;
    --cursor-select-split: url('/img/cursors/cursor-select-split.png'), auto;
    --cursor-draw: url('/img/cursors/cursor-draw.png') 9 9, auto;
    --cursor-draw-connect-line: url('/img/cursors/cursor-draw-connect-line.png') 9 9, auto;
    --cursor-draw-connect-point: url('/img/cursors/cursor-draw-connect-point.png') 9 9, auto;
}
